@media screen and (min-width:576px) {

    .dis-none {
        display: inline-block;
    }

    #topbar {
        width: calc(100% - 250px);
    }

    .sidebar {
        width: 250px;
    }

    .sidebar > nav > img:first-child {
        width: 8rem;
        margin-bottom: 2rem;
    }

    .sidebar > nav > .small-logo {
        display: none;
    }

    .nav {
        flex-grow: 0;
    }
    .playlist {
        flex-grow: 1;
    }

    .user-profile > a:first-child > svg {
        margin-bottom: 0;
    }

    .user-profile > hr {
        width: 100%;
    }

    .home {
        width: calc(100% - 250px);
    }

}

@media screen and (min-width:768px){

    .recently-played-results > a {
        width: calc(100% / 4 - 20px);
    }

    .chosen4u > .chosen-album > a {
        width: calc(100% / 4 - 20px);
    }

    .popular-artists > .popular-album > a {
     width: calc(100% / 4 - 20px);
    }
}

@media screen and (min-width:992px) {
    #topbar {
        width: calc(100% - 250px);
    }
    
    .recently-played-results > a {
        width: calc(100% / 6 - 20px);
    }

    .chosen4u > .chosen-album > a {
        width: calc(100% / 6 - 20px);
    }

    .popular-artists > .popular-album > a {
     width: calc(100% / 6 - 20px);
    }
}