/* GENERICS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: calc(100vh - 6rem);
}

/* UTILITIES */

.posabs {
    position: absolute;
}

.text-deco-none {
    text-decoration: none;
}
.grey {
    color: #6D6D6D;
}
.white {
    color: white;
}

.inlinebl {
    display: inline-block;
}

.margin-04 {
    margin: 0.4rem 0;
}

.margin-08 {
    margin: 0.8rem 0;
}

.fs-08rem {
    font-size: 0.8rem;
}

.fs-1rem {
    font-size: 1rem;
}

.fs-15rem {
    font-size: 1.5rem;
}

.vert-middle {
    vertical-align: middle;
}

.block {
    display: block;
}

.w-15 {
    width: 15%;
}

.w-50 {
    width: 50%;
}

/* BODY */

#body {
    height: 100%;
    display: flex;
}

/* SIDEBAR */

.sidebar {
    width: 15rem;
    height: 100%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding: 1rem;
}

.sidebar > div > img {
    width: 8rem;
    margin-bottom: 2rem;
}

/* NAVIGATION */

.navigation {
    display: flex;
    flex-direction: column;
}

.navigation > li > svg {
    width: 1.7rem;
    height: 1.7rem;
}


.nav {
    margin-bottom: 0.8rem;
}

/* PLAYLIST */

.playlist {
    flex-grow: 1;
}

.playlist > a > button {
    padding: 0.6rem 0.7rem;
    background-color: #6D6D6D;
    border: 0;
}

/* USER PROFILE */


.user-profile > a:first-child > svg {
    width: 1rem;
    height: 1rem;
}

.user-name > svg {
    background-color: #6D6D6D;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
}

/* HOME */

.home {
    background-color: #141922;
    height: 100%;
    flex-grow: 1;
    overflow-y: auto;
}

.homepage {
    margin-top: 5rem;
    color: white;
}

/* TOPBAR */

#topbar {
    height: 5rem;
    position: fixed;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    width: calc(100% - 15rem);
    align-items: center;
    padding: 2rem;
}

#topbar > a[class^="btn"] {
    padding: 1rem 1.5rem;
    border: 1px solid white;
    border-radius: 1.5rem;
}


/* PLAYER */

#player {
    height: 6rem;
    background-color: #282828;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playing {
    display: flex;
    align-items: center;
}

.playing > .song-details {
    flex-grow: 1;
    margin-left: 1rem;
}

.playing > .buttons > a:first-child {
    margin-right: 0.5rem;
}

.playing > img {
    width: 3.5rem;
}