/* GENERICS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: calc(100vh - 6rem);
}

/* UTILITIES */

.white {
    color: white;
}

.inlinebl {
    display: inline-block;
}

.margin-04 {
    margin: 0.4rem 0;
}


/* BODY */

#body {
    height: 100%;
    display: flex;
}

/* SIDEBAR */

.sidebar {
    width: 15rem;
    height: 100%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.sidebar > div > img {
    width: 8rem;
    margin-bottom: 2rem;
}

/* NAVIGATION */

.navigation {
    display: flex;
    flex-direction: column;
}

.navigation > li > i {
    font-size: 1.4rem;
    width: 1.5rem;
}


.nav {
    margin-bottom: 0.8rem;
}


/* HOME */

.home {
    background-color: #141922;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.homepage {
    margin-top: 5rem;
    color: white;
}

/* TOPBAR */

.topbar {
    width: 100%;
    height: 5rem;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}

/* PLAYER */

#player {
    height: 6rem;
    background-color: #282828;
}