/* GENERICS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* UTILITIES */

/* #080B12

#141922

#282828 */

/* BODY */

/* SIDEBAR */

/* HOME */

/* TOPBAR */

/* PLAYER */