/* GENERICS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: calc(100vh - 6rem);
}

/* UTILITIES */

.text-deco-none {
    text-decoration: none;
}
.grey {
    color: #6D6D6D;
}
.white {
    color: white;
}

.inlinebl {
    display: inline-block;
}

.margin-04 {
    margin: 0.4rem 0;
}

.margin-08 {
    margin: 0.8rem 0;
}

.fs-08rem {
    font-size: 0.8rem;
}

.fs-1rem {
    font-size: 1rem;
}

.fs-15rem {
    font-size: 1.5rem;
}

.vert-middle {
    vertical-align: middle;
}

.block {
    display: block;
}
/* BODY */

#body {
    height: 100%;
    display: flex;
}

/* SIDEBAR */

.sidebar {
    width: 15rem;
    height: 100%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.sidebar > div > img {
    width: 8rem;
    margin-bottom: 2rem;
}

/* NAVIGATION */

.navigation {
    display: flex;
    flex-direction: column;
}

.navigation > li > svg {
    width: 1.7rem;
    height: 1.7rem;
}


.nav {
    margin-bottom: 0.8rem;
}

/* PLAYLIST */

.playlist {
    flex-grow: 1;
}

.playlist > a > button {
    padding: 0.6rem 0.7rem;
    background-color: #6D6D6D;
    border: 0;
}

/* USER PROFILE */


.user-profile > a:first-child > svg {
    width: 1rem;
    height: 1rem;
}

.user-name > svg {
    background-color: #6D6D6D;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
}

/* HOME */

.home {
    background-color: #141922;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.homepage {
    margin-top: 5rem;
    color: white;
}

/* TOPBAR */

.topbar {
    width: 100%;
    height: 5rem;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}

/* PLAYER */

#player {
    height: 6rem;
    background-color: #282828;
}