/* GENERICS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: calc(100vh - 6rem);
}

img {
    max-width: 100%;
}


/* UTILITIES */

.hover-white:hover {
    color: white;
}

.posrel {
    position: relative;
}

.posabs {
    position: absolute;
}

.text-deco-none {
    text-decoration: none;
}

.black {
    color: black;
}

.grey {
    color: #6D6D6D;
}
.white {
    color: white;
}

.inlinebl {
    display: inline-block;
}

.margin-04 {
    margin: 0.4rem 0;
}

.margin-08 {
    margin: 0.8rem 0;
}

.marginb-05 {
    margin-bottom: 0.5rem;
}

.marginb-1 {
    margin-bottom: 1rem;
}

.marginb-2 {
    margin-bottom: 2rem;
}

.marginb-3 {
    margin-bottom: 3rem;
}

.fs-08rem {
    font-size: 0.8rem;
}

.fs-1rem {
    font-size: 1rem;
}

.fs-15rem {
    font-size: 1.5rem;
}

.text-center {
    text-align: center;
}

.vert-middle {
    vertical-align: middle;
}

.block {
    display: block;
}

.w-25 {
    width: 25%;
}

.w-40 {
    width: 40%;
}

.dis-none {
    display: none;
}

/* BODY */

#body {
    height: 100%;
    display: flex;
}

/* SIDEBAR */

.sidebar {
    width: 60px;
    height: 100%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    overflow-y: hidden;
}

.sidebar > nav > img {
    height: 40px;
}

/* NAVIGATION */

.navigation {
    display: flex;
    flex-direction: column;
}

.navigation > li > svg {
    width: 1.7rem;
    height: 1.7rem;
}


.nav {
    margin-bottom: 0.8rem;
}

/* PLAYLIST */

.nav {
    flex-grow: 1;
}

.playlist > a > div:first-child {
    padding: 0.6rem 0.75rem;
    background-color: #6D6D6D;
    border: 0;
}

/* USER PROFILE */

.user-profile > a:first-child > svg {
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
}
.user-name > svg {
    background-color: #6D6D6D;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

/* HOME */

.home {
    background-color: #141922;
    height: 100%;
    flex-grow: 1;
    overflow-y: auto;
    width: calc(100% - 60px);
}

.homepage {
    margin-top: 5rem;
    color: white;
}

/* TOPBAR */

#topbar {
    height: 5rem;
    position: fixed;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    width: calc(100% - 60px);
    align-items: center;
    padding-right: 20px;
}

#topbar > a[class^="btn"] {
    padding: 10px;
    border: 1px solid white;
    border-radius: 1.5rem;
}

/* HOMEPAGE */

.homepage {
    padding: 1rem 1.5rem;
}

.homepage .homepage-navbar {
    width: 80%;
    margin: 0 auto;
}

.homepage-navbar .home-nav-list {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* RECENTLY PLAYED */

.recently-played-results {
    display: flex;
    flex-wrap: wrap;
}

.recently-played-results > a {
    margin: 0 10px;
    width: calc(100% / 2 - 20px);
}

/* CHOSEN4U */

.chosen-album {
    display: flex;
    flex-wrap: wrap;
}

.chosen4u > .chosen-album > a {
    margin: 0 10px;
    width: calc(100% / 2 - 20px);
}

/* POPULAR ARTISTS */

.popular-album {
    display: flex;
    flex-wrap: wrap;
}

.popular-artists > .popular-album > a {
    margin: 0 10px;
    width: calc(100% / 2 - 20px);
}

/* PLAYER */

#player {
    height: 6rem;
    background-color: #282828;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

/* LEFT */

.playing > .song-details {
    flex-grow: 1;
    margin-left: 1rem;
}

.playing > .buttons > a:first-child {
    margin-right: 0.5rem;
}

.playing > img {
    max-width: 20%;
}

/* CENTER */

.play-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.play-progression {
    height: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.play-progression > a {
    width: 80%;
    height: 5px;
    background-color: #6D6D6D;
    border-radius: 2px;
}

.play-bar > .play-bar-value {
    width: 30%;
    height: 5px;
    background-color: white;
    border-radius: 2px;
}

.progression-placer-music {    
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: white;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    left: 100%;
}

.play-bar-value:hover {
    background-color: lime;
}

/* RIGHT */

.w-25 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.w-25 > a[class$="volume"] {
    width: 50%;
    height: 5px;
    background-color: #6D6D6D;
    border-radius: 2px;
}

.volume-bar > .volume-bar-value {
    width: 30%;
    height: 5px;
    background-color: white;
    border-radius: 2px;
}

.progression-placer-volume {    
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: white;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    left: 100%;
}

.volume-bar-value:hover {
    background-color: lime;
}