/* GENERICS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: calc(100vh - 6rem);
}

/* UTILITIES */

/* BODY */

#body {
    height: 100%;
    display: flex;
}

/* SIDEBAR */

.sidebar {
    width: 10rem;
    height: 100%;
    background-color: #000;
    display: flex;
    flex-direction: column;
}

/* HOME */

.home {
    background-color: #141922;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.homepage {
    margin-top: 5rem;
    color: white;
}

/* TOPBAR */

.topbar {
    width: 100%;
    height: 5rem;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}

/* PLAYER */

#player {
    height: 6rem;
    background-color: #282828;
}